@font-face {
    font-family: "Fairune UI";
    font-weight: normal;
    src: url("~assets/fonts/FairuneUI.ttf");
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');