/* Global Stylesheet */
@import '~assets/fonts/fonts.scss';


/*
This should be used for logos or large text where readability is unlikely to be an issue.
For body text (i.e. copy) use .font-monospace or the default font.
 */
.font-monospace-packed {
    font-family: "Fairune UI", "Courier New", monospace;
}

.font-monospace {
    font-family: "Fairune UI", "Courier New", monospace;
    letter-spacing: 0.05em;
}

html, body {
    color: white;
    font-family: "Montserrat", sans-serif;
}
